* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 100px;
    background: rgb(24, 78, 132);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 1.3em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.3em;
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: steelblue;
}

.logo2 {
    position: relative;
    font-size: 5em;
    color: #fff;
}