* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 100px;
    background: rgb(24, 78, 132);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 1.3em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.3em;
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: steelblue;
    background-image: url(https://cdn.discordapp.com/attachments/1204971502940983306/1204971558133833808/blue_mixed_paint_aesthetic_background_4k_hd_blue_aesthetic-3840x2160.jpg?ex=65d6ac36&is=65c43736&hm=b62d52fe23029e79b43ff9017197a1c205feba18e3e63eec1fd08cc36253bf0c&);
    background-repeat: no-repeat;
}


.logo2 {
    position: relative;
    font-size: 9em;
    font-family: 'Lobster', cursive; /* Specify Lobster font */
    color: white;
    text-shadow: 
      -4px -4px  #000,  
       2px -2px 0 #000,
      -2px  2px 0 #000,
       2px  2px 0 #000;
  }